<?php

# Define the settings
$settings = array (
	'hostname' => 'localhost',
	'username' => 'the_username',
	'password' => 'the_password',
	'userCallback' => 'getUser',
);

# Callback function to get the details of a user
function getUser ($username, $returnFalseIfGone)
{
	// Function returning array of user data
}


# Run the application with the specified settings
require_once ('vendor/autoload.php');
new courseEvaluations ($settings);

?>
